header#masthead {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.site-footer {
  background-color: #96fbc4!important;
}

body {
  background-color: rgba(150,251,196,0.1) !important;
}

.site-title {
  a {
    color: #257166!important;
  }
}

.og-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 768px) {
    padding-top: 30px;
    border-bottom: solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }

  .og-col {
    padding: 5px;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.og-subject {
    @media (max-width: 768px) {
      text-align: center;
      font-size: 50px;
    }
}

article.post {
  border: solid 1px #eeeeee;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .leftColumn {
    padding: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .rightColumn {
    width: 80%;
    padding: 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .og-related {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .related {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      a.button {
        display: none;
      }
      img {
        max-width: 200px!important;
      }
      a {
        font-size: 12px;
      }
    }
  }
}

article.stores {
  @media (max-width: 768px) {
    flex-direction: column;


  }
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  .store {
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    margin-bottom: 50px;
    width: 33.33%;
    padding: 30px;
  }
}

article.SingleStore {
  display: flex;
  flex-direction: row;
  .content {
    padding: 40px;
  }
}

.fileError {
  color: red;
  font-size: 20px;
}

.og-contact {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  @media (max-width: 768px) {
    align-items: stretch;
  }
  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  textarea {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
